
.fira-sans-bold {
    font-family: "Fira Sans";
    font-weight: 800;
    font-style: normal;
  }

/* header style */
header{
    display: flex;
    height: 100 hug;
    justify-content: space-between;
    padding: 24px 160px;
    margin: 0 auto;
}
header button{
    width: 116px;
    height: 52px;
    font-weight: 400;
    color: #006A50;
    padding: 15px 30px;
    border-color: #006A50;
    border-radius: 8px;
    
}
/* banner style */

#banner{
    background-color: #c6e4d6;
    width: 1280px;
    height: 560px;
    padding: 80px 100px;
    gap: 64px;
    border-radius: 24px;
    justify-content: center;
    margin-left: 160px;
}
.banner-container{
    justify-content: space-between;
    display: flex;
    border-width: 622px 326px;
    font-family: "Fira Sans";
     
}
.banner-container button{
    background-color: #006A50;
    -webkit-text-fill-color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 34px;
    width: 270px;
    height: 56px;
    gap: 16px;
}
.banner-container image{
    width: 474.03px;
    height: 400px;
}
/* pillers style */
.piller-container{
    display: flex;
    gap: 24px;
    background-color: #ffffffa1;
    width: 302px;
    height: 244px;
    padding: 24px 24px;
    justify-items: center;
}
#vission-section{
    justify-content: center;
}
#vission-secton p{
    width: 1280px;
    height: 48;
}

.vission-container{
    display: flex;
    gap: 24px;
    justify-items: flex-start;

}
.digital{
    background-color: #81B4FC;
    width: 410.67px;
    height: 325px;
    padding: 32px 32px;

}
.green{
    background-color: #C6E4D6;
    width: 410.67px;
    height: 325px;
    padding: 32px 32px;
}
.modern{
    background-color: #F7EBCF;
    width: 410.67px;
    height: 325px;
    padding: 32px 32px;
}
